// styles.scss

.header {
  width: 100%; // Розтягування хедера на 100% ширини
  background-color: black;
  color: #1F1F21;
  padding: 16px; // Можна змінити значення padding для зручності
  box-sizing: border-box;
}

.menu-icon {
  width: 70px; /* Збільшена ширина */
  height: 30px; /* Збільшена висота */
}
.container {
  width: 100%; // Розтягування контейнера на 100% ширини
  max-width: 1200px; // Максимальна ширина, якщо потрібна
  margin: 0 auto; // Вирівнювання по центру
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories-section {
  background-color: #EFF0F2; // Бекграунд-колір для секції категорій
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.category-button {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  background: #1F1F21;
  border: none;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #8B4513;
  }
}
